<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<appSettings>
		<!-- 入力INKMLファイルパス （空白 / ファイルパス） -->
		<add key="input_file_path" value="" />

		<!-- 出力BMPファイルパス （空白 / ファイルパス）-->
		<add key="output_file_path" value="" />

		<!-- ファイルオープン時の筆跡イメージの表示倍率 (25 / 50 / 75 / 100 / 125 / 150 / 200 / 300 / 400) -->
		<add key="initial_draw_rate" value="50" />

		<!-- ファイルオープン時の筆跡イメージの復元度合 (NONE / ALL) -->
		<add key="initial_draw_steps" value="ALL" />

		<!-- X/Y座標のオフセット -->
		<add key="x_offset" value="7" />
		<add key="y_offset" value="7" />

		<!-- ペン/消しゴムイメージの格納フォルダ -->
		<add key="pen_folder" value="PenImg/Pen" />
		<add key="eraser_folder" value="PenImg/Eraser" />

		<!-- ヘルプファイルパス （空白 / ファイルパス） -->
		<add key="help_file_path" value="InkML_Reader_Manual.pdf" />
	</appSettings>

</configuration>
